body {
  margin: 0;
  font-family: "Quicksand";
  overflow-x: hidden;
}



/* Navbar */
.navbar {
  background-color: #00838f;
  color: #fff;
  display: flex;
  justify-content: center; /* Center align content horizontally */
  align-items: center;
  padding: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 1s;
}

.links a:hover {
  background-color: #FFA500;
}

/* Sign In */

.signin{
  position: relative;
  top: 200px;
  left: 600px;
  padding: 0px 0px 20px 20px;
  width: 300px;
  height: 380px;
  border: 1px solid black;
  background-color: rgba(236, 247, 244, 0.984)
}
.hh3{
  position: relative;
  top: -200px;
  left: 50px;
}

.gh{
  position: relative;
  top: -130px;
}
input{
  width: 280px ;
  height:30px ;
  border: none;
  border-radius: 10px;
}
.hh{
  text-decoration: none;
  position: relative;
  top: -130px;
}

.im{
  position: relative;
  width: 100px;
  height: 100px;
  top: -180px;
  left: 80px;
  padding: 0px;
  margin: 10px;
}



.btn{
  position: relative;
  background-color: #FFA500;
  color: white;
  font-size: 22px;
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 1s, box-shadow 1s;
  left: 90px;
  top: -130px;

}
.btn:hover{
  color: #FFA500;
  background-color: white;
  box-shadow: 0 0 3px 0 #FFA500;
}


.ghha{
  text-decoration: none;
}
.ghha:hover{
  text-decoration: underline;
}




.active {
    background-color: #FFA500;
}

/* sign up */


.sss{
  position: relative;
  top: 000px;
  left: 600px;
  padding: 20px;
  width: 300px;
  height: 490px;
  border: 1px solid black;
  background-color: rgba(236, 247, 244, 0.984);
  margin: 20px;
  
}

.imm{
  position: relative;
  width: 100px;
  height: 100px;
  left: 720px;
  top: 25px;
}
.hh33{
  position: relative;
  left: 670px;
}

.btn2{
  position: relative;
  background-color: #FFA500;
  color: white;
  font-size: 22px;
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 1s, box-shadow 1s;
  left: 90px;
  top: 10px;

}

.gh2{
  position: relative;
}

